In [1]:
import pandas as pd

In [2]:
review_data = pd.read_csv('C:/Users/awant/Documents/Reviews.csv')

In [3]:
review_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 10 columns):
Id                        568454 non-null int64
ProductId                 568454 non-null object
UserId                    568454 non-null object
ProfileName               568438 non-null object
HelpfulnessNumerator      568454 non-null int64
HelpfulnessDenominator    568454 non-null int64
Score                     568454 non-null int64
Time                      568454 non-null int64
Summary                   568427 non-null object
Text                      568454 non-null object
dtypes: int64(5), object(5)
memory usage: 43.4+ MB

In [4]:
review_data = review_data.sample(5000)

In [6]:
review_data = review_data[['Text','Score']]

In [7]:
review_data.head()

                                                     Text  Score
22098   We've had this for almost a week, and the dog ...      4
295111  I just have to put my two cents in on this tea...      5
125547  The Hanover Pumpernickle & Onion Pretzels are ...      5
350934  January 3, 2011<br /><br />I purchased these p...      4
502462  I received these and added them to the collect...      5

In [8]:
review_data = review_data[review_data.Score != 3]

In [9]:
review_data['Sentiment'] = review_data.Score.map(lambda x: 0 if x < 3 else 1)

In [11]:
review_data.head(1)

                                                    Text  Score  Sentiment
22098  We've had this for almost a week, and the dog ...      4          1

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
cv = CountVectorizer(stop_words='english')

In [18]:
from sklearn.naive_bayes import MultinomialNB

In [19]:
mnb = MultinomialNB()

#### Pipeline Creation

In [25]:
from sklearn.feature_selection import SelectKBest

In [26]:
word_selector = SelectKBest(k=2000)

In [20]:
from sklearn.pipeline import make_pipeline

In [27]:
review_pipeline = make_pipeline(cv, word_selector, mnb)

In [28]:
review_pipeline.steps

[('countvectorizer',
  CountVectorizer(analyzer='word', binary=False, decode_error='strict',
          dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
          lowercase=True, max_df=1.0, max_features=None, min_df=1,
          ngram_range=(1, 1), preprocessor=None, stop_words='english',
          strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
          tokenizer=None, vocabulary=None)),
 ('selectkbest',
  SelectKBest(k=2000, score_func=<function f_classif at 0x000001C7C8242BF8>)),
 ('multinomialnb', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))]

#### Splitting data into train & test

In [23]:
from sklearn.model_selection import train_test_split
trainX,testX, trainY,testY = train_test_split(review_data.Text, review_data.Sentiment)

#### Model Training

In [29]:
review_pipeline.fit(trainX,trainY)

Pipeline(memory=None,
     steps=[('countvectorizer', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words='english...x000001C7C8242BF8>)), ('multinomialnb', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

#### Model Validation

In [30]:
review_pipeline.score(testX,testY)

0.8871527777777778

In [34]:
review_pipeline.predict(['Foul Bad Worse'])

array([0], dtype=int64)

In [35]:
review_pipeline.predict(['Good food here'])

array([1], dtype=int64)

In [36]:
review_data.Sentiment.value_counts()

1    3837
0     769
Name: Sentiment, dtype: int64