In [1]:
import pandas as pd
import numpy as np

In [2]:
emp_data = pd.read_csv('https://raw.githubusercontent.com/zekelabs/data-science-complete-tutorial/master/Data/HR_comma_sep.csv.txt')

In [3]:
emp_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [4]:
emp_data.rename(columns={'sales':'department'}, inplace=True)

In [83]:
emp_data.corr()['left']

satisfaction_level      -0.388375
last_evaluation          0.006567
number_project           0.023787
average_montly_hours     0.071287
time_spend_company       0.144822
Work_accident           -0.154622
left                     1.000000
promotion_last_5years   -0.061788
Name: left, dtype: float64

#### Selecting categorical columns & integer columns

In [6]:
cat_emp_data = emp_data.select_dtypes('object')

In [7]:
int_emp_data = emp_data.select_dtypes('int64')

#### Preprocessing Categorical Columns

In [9]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [10]:
le = LabelEncoder()
ohe = OneHotEncoder()

In [11]:
le.fit(cat_emp_data.department)

LabelEncoder()

In [16]:
cat_emp_data['department_tf'] = le.transform(cat_emp_data.department)

C:\Users\awant\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
cat_emp_data.head()

  department  salary  department_tf
0      sales     low              7
1      sales  medium              7
2      sales  medium              7
3      sales     low              7
4      sales     low              7

In [18]:
le.classes_

array(['IT', 'RandD', 'accounting', 'hr', 'management', 'marketing',
       'product_mng', 'sales', 'support', 'technical'], dtype=object)

In [19]:
le.inverse_transform([7])

array(['sales'], dtype=object)

In [20]:
ohe.fit(cat_emp_data[['department_tf']])

C:\Users\awant\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:363: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

OneHotEncoder(categorical_features=None, categories=None,
       dtype=<class 'numpy.float64'>, handle_unknown='error',
       n_values='auto', sparse=True)

In [23]:
department_tf = ohe.transform(cat_emp_data[['department_tf']]).toarray()

In [29]:
from sklearn.preprocessing import FunctionTransformer

In [30]:
def func(x):
    def mapping(d):
        if d == 'low':
            return 1
        elif d == 'medium':
            return 2
        else:
            return 3
    return x.map( mapping )
        
ft = FunctionTransformer(func, validate=False)

In [31]:
cat_emp_data['salary_tf'] = ft.transform(cat_emp_data.salary)

C:\Users\awant\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

#### Preprocessing Number Data

In [34]:
int_emp_data.head()

,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
0,2,157,3,0,1,0
1,5,262,6,0,1,0
2,7,272,4,0,1,0
3,5,223,5,0,1,0
4,2,159,3,0,1,0

In [40]:
int_emp_data.drop('left',axis=1, inplace=True)

C:\Users\awant\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [35]:
from sklearn.preprocessing import MinMaxScaler

In [41]:
mms = MinMaxScaler()

In [42]:
mms.fit(int_emp_data)

C:\Users\awant\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [43]:
int_tf = mms.transform(int_emp_data)

In [44]:
int_tf

array([[0.        , 0.28504673, 0.125     , 0.        , 0.        ],
       [0.6       , 0.77570093, 0.5       , 0.        , 0.        ],
       [1.        , 0.82242991, 0.25      , 0.        , 0.        ],
       ...,
       [0.        , 0.21962617, 0.125     , 0.        , 0.        ],
       [0.8       , 0.85981308, 0.25      , 0.        , 0.        ],
       [0.        , 0.28971963, 0.125     , 0.        , 0.        ]])

In [48]:
float_tf = emp_data[['satisfaction_level','last_evaluation']].values

In [60]:
cat_emp_data['salary_tf'].values.shape

(14999,)

In [62]:
int_tf.shape

(14999, 5)

In [72]:
department_tf[:2]

array([[0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.]])

#### Joining the data

In [68]:
salary_tf = cat_emp_data['salary_tf'].values.reshape(-1,1)

In [69]:
feature_data = np.hstack([department_tf,int_tf,float_tf,salary_tf])

In [70]:
target_data = emp_data.left

#### Split data into two parts

In [71]:
from sklearn.model_selection import train_test_split
trainX, testX, trainY, testY = train_test_split(feature_data,target_data)

#### Model Training

In [74]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [75]:
lr = LogisticRegression()

In [76]:
lr.fit(trainX,trainY)

C:\Users\awant\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [77]:
rf = RandomForestClassifier()

In [78]:
rf.fit(trainX,trainY)

C:\Users\awant\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

#### Model Validation

In [79]:
lr.score(testX,testY)

0.8

In [80]:
rf.score(testX,testY)

0.9898666666666667

In [89]:
from sklearn.metrics import recall_score,precision_score, f1_score, classification_report

In [85]:
pred = rf.predict(testX)

In [86]:
precision_score(y_pred=pred, y_true=testY)

0.9904191616766467

In [88]:
f1_score(y_pred=pred, y_true=testY)

0.9775413711583923

In [91]:
print (classification_report(y_pred=pred, y_true=testY))

              precision    recall  f1-score   support

           0       0.99      1.00      0.99      2893
           1       0.99      0.96      0.98       857

   micro avg       0.99      0.99      0.99      3750
   macro avg       0.99      0.98      0.99      3750
weighted avg       0.99      0.99      0.99      3750