In [1]:
from sklearn.linear_model import LinearRegression

In [18]:
lr = LinearRegression(normalize=True,fit_intercept=True)

In [19]:
from sklearn.datasets import make_regression
X,Y = make_regression(n_features=1, noise=10, n_samples=1000)

In [20]:
lr.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=True)

In [21]:
lr.intercept_

-0.6862393987630364

In [22]:
lr.coef_

array([67.9773719])

In [23]:
lr.predict(X[:5])

array([ 78.04707572,  12.9795936 , -92.89462697, -52.53332507,
        -8.90727255])

In [26]:
lr.coef_[0]*1.15822829 + lr.intercept_

78.04707581910118

In [28]:
from sklearn.datasets import california_housing,

In [29]:
cal_house = california_housing.fetch_california_housing()

In [32]:
import pandas as pd

In [34]:
house_data = pd.DataFrame(cal_house.data,columns=cal_house.feature_names)

In [35]:
lr = LinearRegression(normalize=True, fit_intercept=True)

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
trainX,testX, trainY,testY = train_test_split(house_data,cal_house.target)

In [38]:
trainX.shape

(15480, 8)

In [39]:
testX.shape

(5160, 8)

In [40]:
house_data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [41]:
lr.fit(trainX,trainY)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=True)

In [49]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn.linear_model import LinearRegression

In [44]:
pred = lr.predict(testX)

In [46]:
testY[:5]

array([4.054, 0.4  , 1.441, 1.611, 2.768])

In [47]:
pred[:5]

array([ 2.08862501, -0.63475542,  2.12138471,  1.63917481,  2.63784898])

In [48]:
mean_absolute_error(y_pred=pred,y_true=testY)

0.5285045646859642

In [50]:
r2_score(y_pred=pred,y_true=testY)

0.6098111436177085

In [52]:
lr.score(testX,testY)

0.6098111436177085

In [53]:
lr.coef_

array([ 4.36912204e-01,  9.20904850e-03, -1.05804422e-01,  6.14095330e-01,
       -9.66703779e-06, -3.77674931e-03, -4.24317183e-01, -4.34469658e-01])

In [54]:
house_data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [55]:
cal_house.target

array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894])