In [4]:
import pandas as pd

In [7]:
house_data = pd.read_csv('https://raw.githubusercontent.com/zekelabs/data-science-complete-tutorial/master/Data/house_rental_data.csv.txt',index_col='Unnamed: 0')

In [9]:
house_data.head()

       Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom  Price
1  1177.698      2           7        2            2         2  62000
2  2134.800      5           7        4            2         2  78000
3  1138.560      5           7        2            2         1  58000
4  1458.780      2           7        3            2         2  45000
5   967.776     11          14        3            2         2  45000

### Without Scaling
* Sqft & Price gets undue advantage

In [10]:
from sklearn.neighbors import NearestNeighbors

In [11]:
nn = NearestNeighbors(n_neighbors=3)

In [12]:
nn.fit(house_data)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=None, n_neighbors=3, p=2, radius=1.0)

In [13]:
nn.kneighbors(house_data[:1])

(array([[   0.        , 1010.6489949 , 1359.85616757]]),
 array([[  0, 354, 319]], dtype=int64))

In [18]:
house_data.iloc[[0,354,319]]

         Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom  Price
1    1177.698      2           7        2            2         2  62000
358  1031.820     11          14        3            2         2  61000
323  2099.220      4           8        3            2         2  63000

### Scaling to bring every feature in same scale

In [19]:
from sklearn.preprocessing import MinMaxScaler

In [20]:
minmax = MinMaxScaler()

In [23]:
house_data_scaled = minmax.fit_transform(house_data.values)

In [24]:
nn.fit(house_data_scaled)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=None, n_neighbors=3, p=2, radius=1.0)

In [25]:
nn.kneighbors(house_data_scaled[:1])

(array([[0.        , 0.07629159, 0.07904043]]),
 array([[  0, 178, 330]], dtype=int64))

In [26]:
house_data.iloc[[0,178,330]]

         Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom  Price
1    1177.698      2           7        2            2         2  62000
181  1494.360      2           7        2            2         2  49800
334  1494.360      2           7        2            2         2  48800