In [1]:
import pandas as pd
import numpy as np

In [16]:
cols = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship'
        ,'race','sex','capital-gain','capital-loss','hours-per-week','native-country','Salary']
adult_data = pd.read_csv('https://raw.githubusercontent.com/zekelabs/data-science-complete-tutorial/master/Data/adult.data.txt', names=cols)

In [17]:
adult_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
Salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [18]:
cat_cols_df = adult_data.select_dtypes('object')

In [30]:
for col in cat_cols_df.columns:
    adult_data[col] = adult_data[col].str.strip().replace('?',np.nan)

In [31]:
adult_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         30725 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        30718 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    31978 non-null object
Salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [32]:
adult_data.select_dtypes('object').head()

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,Salary
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K

In [38]:
cat_cols = list(cat_cols_df.columns)

In [40]:
cat_cols.remove('Salary')

In [41]:
cat_cols

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native-country']

In [42]:
num_cols = list(adult_data.select_dtypes('int64').columns)

In [43]:
num_cols

['age',
 'fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week']

In [55]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.naive_bayes import MultinomialNB

In [56]:
pipeline_num = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaling',MinMaxScaler())
])

In [57]:
pipeline_cat = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('encoding', OneHotEncoder(handle_unknown='ignore'))
])

In [58]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', pipeline_num, num_cols),
        ('cat', pipeline_cat, cat_cols)])

In [59]:

pipeline = Pipeline(steps=[('preprocessor',preprocessor),
                ('classifier', MultinomialNB())])

In [60]:
from sklearn.model_selection import train_test_split

In [61]:
trainX, testX, trainY, testY = train_test_split(adult_data, adult_data.Salary)

In [62]:
pipeline.fit(trainX,trainY)

Pipeline(memory=None,
     steps=[('preprocessor', ColumnTransformer(n_jobs=None, remainder='drop', sparse_threshold=0.3,
         transformer_weights=None,
         transformers=[('num', Pipeline(memory=None,
     steps=[('imputer', SimpleImputer(copy=True, fill_value=None, missing_values=nan,
       strategy='median', verbo..., 'native-country'])])), ('classifier', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

In [63]:
pipeline.score(testX,testY)

0.7994103918437538

In [70]:
testX[:1].to_dict()

{'Salary': {24642: '<=50K'},
 'age': {24642: 19},
 'capital-gain': {24642: 0},
 'capital-loss': {24642: 0},
 'education': {24642: 'Some-college'},
 'education-num': {24642: 10},
 'fnlwgt': {24642: 181572},
 'hours-per-week': {24642: 40},
 'marital-status': {24642: 'Never-married'},
 'native-country': {24642: 'United-States'},
 'occupation': {24642: 'Adm-clerical'},
 'race': {24642: 'White'},
 'relationship': {24642: 'Own-child'},
 'sex': {24642: 'Male'},
 'workclass': {24642: 'Private'}}

In [67]:
pipeline.predict_proba(testX[:1])

array([[9.99012164e-01, 9.87835734e-04]])

In [ ]:
{''}